html:not(.night-mode) {
    --navbar-bg-color: #ECECEC;
    --navbar-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);

    --btn-shadow: 0px 0.8px 2px -1px rgba(0, 0, 0, 0.6);
    --btn-border: none;
    /* border: 1px solid rgba(255, 255, 255, 0) !important; */
    /* border: 1px solid #ccc; */
    --btn-corner: 5px;
    --editor-btn-height: 21px;
    --btn-bg-color: #fff;

    --border-sep-btns-from-fields: 1px solid #dadada;

    --field-border-color: #d4d4d4;
    --btn-click-color: #1485FF;

    --code-bg-color: #f5f2f0;
}
html.night-mode {
    --navbar-bg-color: #2F2F31;
    --navbar-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.4);

    --button-shadow: inset 0px 0px 0px 1px #646465;
    --btn-border: 1px solid #222223;
    --btn-corner: 3px;
    --editor-btn-height: 23px;
    --btn-bg-color: #565656;

    --border-sep-btns-from-fields: 1px solid #646464;

    --field-border-color: #646464;
    --btn-click-color: #4A4A4A;

    --code-bg-color: #292929;
}


button, button.btn {
    box-shadow: var(--btn-shadow) !important;
    border: var(--btn-border) !important;
}
button {
    height: 17px;
}

:focus {
    outline: none !important;
}

button:active {
    color: white;
    background: var(--btn-click-color) !important;
}